body {
    background-color: rgb(232, 232, 232);
}

.wrapper {
    display: grid;
    height: 45rem;
    width: 70rem;
    grid-template-columns: 50% 50%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    background:  rgb(192, 216, 231);
    height: 40rem;
    width: 35rem;
}

header > h1 {
    margin-top: 6rem;
    font-size: 44px;
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: -0.5rem;
}

header > p {
    margin-left: 9rem;
    margin-right: 9rem;
    color: rgb(88, 96, 102);
}

header > button {
    align-self: flex-start;
    padding: 7px;
    border-radius: 25px;
    height: 3rem;
    width: 9rem;
    margin-left: 9rem;
    margin-top: 4rem;
}

header > button > p {
    font-weight: bold;
}

header > img {
    align-self: flex-end;
    margin-right: 1rem;
    width: 56%;
    height: 56%;
    margin-top: -7.8rem;
}

.whiteText {
    color: white;
}

aside {
    display: flex;
    flex-direction: column;
    text-align: center;
}

aside > .asideinner1 {
    background: rgb(239, 110, 64);
    height: 20rem;
    width: 35rem;
    justify-content: flex-start;
}

.asideinner1 > p {
    margin-top: 7rem;
    font-size: 14px;
}

.asideinner1 > h2 {
    color: white;
    font-size: 35px;
    margin-top: 1rem;
}


aside > .asideinner2 {
    background: rgb(249, 168, 43);
    height: 20rem;
    width: 35rem;
    justify-content: flex-end;
    
}

.asideinner2 > p {
    margin-top: 7rem;
    font-size: 14px;
}

.asideinner2 > h2 {
    color: white;
    font-size: 35px;
    margin-top: 1rem;
}

nav {
    display: flex;
    height: 5rem;
    width: 70rem;
    justify-content: space-evenly;
    align-items: center;
}

nav p:first-of-type {
    color: black;
}

nav > p {
    color: rgb(139, 139, 139);
}

nav > a:link {
    color: rgb(139, 139, 139);
    text-decoration: none;
}

nav > a:visited {
    color: rgb(139, 139, 139);
}

nav > a:link:hover {
    text-decoration: underline;
}

main {
    display: grid;
    height: 90rem;
    width: 70rem;
    grid-template-rows: 50% 50%;
    margin: auto;
}

main > .section1 {
    background-color: rgb(168, 162, 159);
    display: grid;
    grid-template-columns: 50% 50%;
} 

main > .section1 > h2 {
    color: white;
    font-size: 3rem;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 5rem;
}

main > .section1 > p {
    color: rgb(71, 69, 67);
    margin-top: 8.5rem;
    margin-right: 10rem;
    margin-left: 5rem;
}

.section1 > h2 > button {
    padding: 7px;
    border-radius: 25px;
    height: 3rem;
    width: 9rem;
    margin-top: 4rem;
}

.section1 > h2 > button > p {
    font-weight: bold;
}

main > .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    position: relative;
    bottom: 10rem;
}

.card > .card1 > p {
    color: rgb(163, 163, 163);
}

.card > .card2 > p {
    color: rgb(163, 163, 163);
}

.card > .card3 > p {
    color: rgb(163, 163, 163);
}

.card > .card1 > .card1inner {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.card > .card2 > .card2inner {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.card > .card3 > .card3inner {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.card > .card1, .card2, .card3 {
    width: 16rem;
    height: 20rem;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > .card1 > .card1inner {
    width: 15rem;
    height: 10rem;
    background-color: rgb(203, 221, 233);
    border-radius: 0.5rem;
}

.card1 > .card1inner > img {
    max-width: 100%;
    max-height: 100%;
}

.card > .card2 > .card2inner {
    width: 15rem;
    height: 10rem;
    background-color: rgb(239, 179, 78);
    border-radius: 0.5rem;
}

.card2 > .card2inner > img {
    max-width: 100%;
    max-height: 100%;
}

.card > .card3 > .card3inner {
    width: 15rem;
    height: 10rem;
    background-color: rgb(226, 127, 84);
    border-radius: 0.5rem;
}

.card3 > .card3inner > img {
    max-width: 100%;
    max-height: 100%;
}

main > .section2 {
    background-color: rgb(239, 179, 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > .section2 > h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

main > .section2 > p {
    color: rgb(105, 77, 29);
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

main > .section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.section3 > div {
    height: 23.3rem;
    width: 23.3rem;
}

.section3 > .box1 {
    background-color: rgb(192, 216, 231);
}

.section3 > .box2 {
    background-color: rgb(255, 255, 255);
}

.box2 > h2 {
    color: rgb(163, 163, 163);
    font-size: 35px;
    margin-left: 2rem;
}

.box2 > p {
    color: rgb(86, 86, 86);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.section3 > .box3 {
    background-color: rgb(232, 232, 232);
}

.box3 > h2 {
    color: rgb(150, 150, 150);
    font-size: 35px;
    margin-left: 2rem;
}

.box3 > p {
    color: rgb(78, 78, 78);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.section3 > .box4 {
    background-color: rgb(255, 255, 255);
}

.box4 > h2 {
    color: rgb(163, 163, 163);
    font-size: 35px;
    margin-left: 2rem;
}

.box4 > p {
    color: rgb(86, 86, 86);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.section3 > .box5 {
    background-color: rgb(239, 110, 64);
}

.box5 > h2 {
    color: rgb(144, 79, 50);
    font-size: 35px;
    margin-left: 2rem;
}

.box5 > p {
    color: rgb(75, 38, 22);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6.5rem;
}

.section3 > .box6 {
    background-color: rgb(255, 255, 255);
}

.box6 > h2 {
    color: rgb(163, 163, 163);
    font-size: 35px;
    margin-left: 2rem;
}

.box6 > p {
    color: rgb(86, 86, 86);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6.5rem;
}


.section3 > .box1 > h2 {
    color: black;
    text-align: center;
    font-size: 42px;
    margin-top: 9rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

footer {
    background-color: rgb(159, 151, 148);
    width: 70rem;
    height: 8rem;
    text-align: center;
}

footer > div {
    background-color: rgb(108, 106, 105);
    width: 70rem;
    height: 25rem;
}

footer > p:first-of-type {
    font-size: 30px;
    font-stretch: extra-condensed;
    color: rgb(53, 51 ,50);
    margin-top: 0;
}

footer p:last-of-type {
    color: rgb(53, 51 ,50);
    margin-top: -3rem;
    font-size: 18px;
    font-weight: bold;
}