body {
    background-color: rgb(232, 232, 232);
}

.wrapper {
    display: grid;
    height: 45rem;
    width: 70rem;
    grid-template-columns: 50% 50%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    background:  rgb(192, 216, 231);
    height: 40rem;
    width: 35rem;
}

header > h1 {
    margin-top: 6rem;
    font-size: 44px;
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: -0.5rem;
}

header > p {
    margin-left: 9rem;
    margin-right: 9rem;
    color: rgb(88, 96, 102);
}

header > button {
    align-self: flex-start;
    padding: 7px;
    border-radius: 25px;
    height: 3rem;
    width: 9rem;
    margin-left: 9rem;
    margin-top: 4rem;
}

header > button > p {
    font-weight: bold;
}

header > img {
    align-self: flex-end;
    margin-right: 1rem;
    width: 56%;
    height: 56%;
    margin-top: -7.8rem;
}

.whiteText {
    color: white;
}

aside {
    display: flex;
    flex-direction: column;
    text-align: center;
}

aside > .asideinner1 {
    background: rgb(239, 110, 64);
    height: 20rem;
    width: 35rem;
    justify-content: flex-start;
}

.asideinner1 > p {
    margin-top: 7rem;
    font-size: 14px;
}

.asideinner1 > h2 {
    color: white;
    font-size: 35px;
    margin-top: 1rem;
}


aside > .asideinner2 {
    background: rgb(249, 168, 43);
    height: 20rem;
    width: 35rem;
    justify-content: flex-end;
    
}

.asideinner2 > p {
    margin-top: 7rem;
    font-size: 14px;
}

.asideinner2 > h2 {
    color: white;
    font-size: 35px;
    margin-top: 1rem;
}

nav {
    display: flex;
    height: 5rem;
    width: 70rem;
    justify-content: space-evenly;
    align-items: center;
}

nav p:first-of-type {
    color: black;
}

nav > p {
    color: rgb(139, 139, 139);
}

nav > a:link {
    color: rgb(139, 139, 139);
    text-decoration: none;
}

nav > a:visited {
    color: rgb(139, 139, 139);
}

nav > a:link:hover {
    text-decoration: underline;
}

main {
    display: grid;
    height: 90rem;
    width: 70rem;
    grid-template-rows: 50% 50%;
    margin: auto;
}

main > .section1 {
    background-color: rgb(168, 162, 159);
} 





main > .section2 {
    background-color: rgb(239, 179, 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > .section2 > h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

main > .section2 > p {
    color: rgb(105, 77, 29);
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

main > .section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.section3 > div {
    height: 23.3rem;
    width: 23.3rem;
}

.section3 > div:nth-of-type(1) {
    background-color: rgb(192, 216, 231);
}

.section3 > div:nth-of-type(2) {
    background-color: rgb(255, 255, 255);
}

.section3 > div:nth-of-type(3) {
    background-color: rgb(232, 232, 232);
}

.section3 > div:nth-of-type(4) {
    background-color: rgb(255, 255, 255);
}

.section3 > div:nth-of-type(5) {
    background-color: rgb(239, 110, 64);
}

.section3 > div:nth-of-type(6) {
    background-color: rgb(255, 255, 255);
}

.section3 > .box1 > h2 {
    color: black;
    text-align: center;
    font-size: 42px;
    margin-top: 9rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

footer {
    background-color: rgb(159, 151, 148);
    width: 70rem;
    height: 5rem;
    text-align: center;
}

footer > div {
    background-color: rgb(108, 106, 105);
    width: 70rem;
    height: 25rem;
}