.wrapper > body {
    background-color: rgb(232, 232, 232);
}

.wrapper {
    display: grid;
    height: 45rem;
    width: 70rem;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.wrapper > header {
    display: flex;
    flex-direction: column;
    background:  rgb(192, 216, 231);
    height: 40rem;
    width: 35rem;
}

.wrapper > header > h1 {
    margin-top: 6rem;
    font-size: 44px;
    margin-left: 8rem;
    margin-right: 9rem;
    margin-bottom: -0.5rem;
}

.wrapper > header > p {
    margin-left: 8rem;
    margin-right: 9rem;
    color: rgb(88, 96, 102);
}

.wrapper > header > button {
    align-self: flex-start;
    padding: 7px;
    border-radius: 25px;
    height: 3rem;
    width: 9rem;
    margin-left: 7rem;
    margin-top: 4rem;
}

.wrapper > header > button > p {
    font-weight: bold;
}

.wrapper > header > img {
    align-self: flex-end;
    margin-right: 0.8rem;
    max-width: 65%;
    max-height: 65%;
    margin-top: -7.2rem;
}

.whiteText {
    color: white;
}

.wrapper > aside {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper > aside > .asideinner1 {
    background: rgb(239, 110, 64);
    height: 20rem;
    width: 35rem;
    justify-content: flex-start;
}

.wrapper > aside > .asideinner1 > p {
    margin-top: 7rem;
    font-size: 14px;
}

.wrapper > aside > .asideinner1 > h2 {
    color: white;
    font-size: 35px;
    margin-top: 1rem;
}


.wrapper > aside > .asideinner2 {
    background: rgb(249, 168, 43);
    height: 20rem;
    width: 35rem;
    justify-content: flex-end;
    
}

.wrapper > aside > .asideinner2 > p {
    margin-top: 7rem;
    font-size: 14px;
}

.wrapper > aside > .asideinner2 > h2 {
    color: white;
    font-size: 35px;
    margin-top: 1rem;
}

.wrapper > nav {
    display: flex;
    height: 5rem;
    width: 70rem;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper > nav p:first-of-type {
    color: black;
}

.wrapper > nav > p {
    color: rgb(139, 139, 139);
}

.wrapper > nav > a:link {
    color: rgb(139, 139, 139);
    text-decoration: none;
}

.wrapper > nav > a:visited {
    color: rgb(139, 139, 139);
}

.wrapper > nav > a:link:hover {
    text-decoration: underline;
}

.main1 {
    display: grid;
    height: 90rem;
    width: 70rem;
    grid-template-rows: 50% 50%;
    margin: auto;
}

.main1 > .section1 {
    height: 45rem;
    width: 70rem;
    background-color: rgb(168, 162, 159);
    display: grid;
    grid-template-columns: 50% 50%;
} 

.main1 > .section1 > h2 {
    color: white;
    font-size: 3rem;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 5rem;
}

.main1 > .section1 > p {
    color: rgb(71, 69, 67);
    margin-top: 8.5rem;
    margin-right: 10rem;
    margin-left: 5rem;
}

.main1 > .section1 > h2 > button {
    padding: 7px;
    border-radius: 25px;
    height: 3rem;
    width: 9rem;
    margin-top: 4rem;
}

.main1 > .section1 > h2 > button > p {
    font-weight: bold;
}

.main1 > .section2 > .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: 16rem;
}

.card > .card1 > p {
    color: rgb(163, 163, 163);
    margin-top: -1rem;
}

.card > .card2 > p {
    color: rgb(163, 163, 163);
    margin-top: -1rem;
}

.card > .card1 > p {
    color: rgb(163, 163, 163);
    margin-top: -0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.card > .card2 > p {
    color: rgb(163, 163, 163);
    margin-top: -0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.card > .card3 > p {
    color: rgb(163, 163, 163);
    margin-top: -0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.card > .card3 > h1, h2, h3 {
    margin-top: -1rem;
}

.card > .card1 > .card1inner {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.card > .card2 > .card2inner {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.card > .card3 > .card3inner {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
}

.card > .card1, .card2, .card3 {
    width: 16rem;
    height: 20rem;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > .card1 > .card1inner {
    width: 15rem;
    height: 10rem;
    background-color: rgb(203, 221, 233);
    border-radius: 0.5rem;
}

.card1 > .card1inner > img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 1rem;
}

.card > .card2 > .card2inner {
    width: 15rem;
    height: 10rem;
    background-color: rgb(239, 179, 78);
    border-radius: 0.5rem;
}

.card2 > .card2inner > img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 1rem;
}

.card > .card3 > .card3inner {
    width: 15rem;
    height: 10rem;
    background-color: rgb(226, 127, 84);
    border-radius: 0.5rem;
}

.card3 > .card3inner > img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 1rem;
}

.main1 > .section2 {
    background-color: rgb(239, 179, 75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45rem;
    width: 70rem;
}

.main1 > .section2 > h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: -12rem;
}

.main1 > .section2 > p {
    color: rgb(105, 77, 29);
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

.main1 > .section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.section3 > div {
    height: 23.3rem;
    width: 23.3rem;
}

.section3 > .box1 {
    background-color: rgb(192, 216, 231);
}

.section3 > .box2 {
    background-color: rgb(255, 255, 255);
}

.box2 > h2 {
    color: rgb(163, 163, 163);
    font-size: 35px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.box2 > p {
    color: rgb(86, 86, 86);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.section3 > .box3 {
    background-color: rgb(232, 232, 232);
}

.box3 > h2 {
    color: rgb(150, 150, 150);
    font-size: 35px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.box3 > p {
    color: rgb(78, 78, 78);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

.section3 > .box4 {
    background-color: rgb(255, 255, 255);
}

.box4 > h2 {
    color: rgb(163, 163, 163);
    font-size: 35px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.box4 > p {
    color: rgb(86, 86, 86);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.section3 > .box5 {
    background-color: rgb(239, 110, 64);
}

.box5 > h2 {
    color: rgb(144, 79, 50);
    font-size: 35px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.box5 > p {
    color: rgb(75, 38, 22);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6.5rem;
}

.section3 > .box6 {
    background-color: rgb(255, 255, 255);
}

.box6 > h2 {
    color: rgb(163, 163, 163);
    font-size: 35px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.box6 > p {
    color: rgb(86, 86, 86);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6.5rem;
}


.section3 > .box1 > h2 {
    color: black;
    text-align: center;
    font-size: 42px;
    margin-top: 9rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.main1 > footer {
    background-color: rgb(159, 151, 148);
    width: 70rem;
    height: 8rem;
    text-align: center;
}

.main1 > footer > div {
    background-color: rgb(108, 106, 105);
    width: 70rem;
    height: 25rem;
}

.main1 > footer > p:first-of-type {
    font-size: 30px;
    font-stretch: extra-condensed;
    color: rgb(53, 51 ,50);
    margin-top: 0;
}

.main1 > footer p:last-of-type {
    color: rgb(53, 51 ,50);
    margin-top: -3rem;
    font-size: 18px;
    font-weight: bold;
}

/*contact.html*/

body {
    background-color: rgb(232, 232, 232);
}
.wrapper2 {
    display: grid;
    grid-template-rows: auto;
    width: 70rem;
    margin: auto;
}

.wrapper2 > header {   
    height: 25rem;
    width: 70rem;
    background-color: rgb(203, 221, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.wrapper2 > header > h1 {
    align-self: center;
    margin-left: 15rem;
    margin-right: -5rem;
    margin-top: 2rem;
    font-size: 50px;
}

.wrapper2 > header > img {
    align-self: flex-end;
    width: 213px; 
    height: 339px
}

.wrapper2 > nav {
    background-color: white;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper2 > nav > p:last-of-type {
    color: black;
}

.wrapper2 > nav > p {
    color: rgb(139, 139, 139);
}

.wrapper2 > nav > a:link {
    color: rgb(139, 139, 139);
    text-decoration: none;
}

.wrapper2 > nav > a:visited {
    color: rgb(139, 139, 139);
}

.wrapper2 > nav > a:link:hover {
    text-decoration: underline;
}

.wrapper2 > main { 
    height: 45rem;
    background-color: rgb(168, 161, 158);
    display: flex;
    flex-direction: row;
}

.wrapper2 > main > h2 {
    border: 1px solid black;
    width: 35rem;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper2 > main > aside {
    border: 1px solid black;
    width: 35rem;
}




.wrapper2 > section {  
    height: 35rem;
    background-image: url('/img/map_london.png');
    
}

.wrapper2 > section > .yellowbox {
    height: 15rem;
    width: 22rem;
    background-color: rgb(239, 179, 78);
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 5rem;
    border-style: ridge;
}

.wrapper2 > section > .yellowbox > h2 {
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 50px;
    color: white;
}

.wrapper2 > section > .yellowbox > p {
    color: white;
    margin-left: 1.5rem;
    margin-top: -2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



.wrapper2 > footer {
    height: 25rem;
    background-color: rgb(119, 117, 116);
}


