body {
    background-color: rgb(232, 232, 232);
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 240px 240px 60px 480px 480px 500px 400px;
    grid-template-areas: 
    "leftheader righttopheader"
    "leftheader rightbottomheader"
    "nav nav"
    "main main"
    "sectionabout sectionabout"
    "sectionbox sectionbox"
    "footer footer";
}

header#left {
    grid-area: leftheader;
    background:  rgb(192, 216, 231);
}

header#righttop {
    grid-area: righttopheader;
    background: rgb(239, 110, 64);
}

header#rightbottom {
    grid-area: rightbottomheader;
    background: rgb(249, 168, 43);
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(139, 139, 139);
}

nav a:first-child {
    color: black;
}

main {
    grid-area: main;
    background-color: rgb(168, 162, 159);
}

main section.card {
    height: 20rem;
    position: relative;
    top: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main section.card article {
    background: white;
    min-width: 15rem;
    border-radius: 0.5rem;
}

section#about {
    grid-area: sectionabout;
    background: rgb(249, 168, 43);
}

section#box {
    grid-area: sectionbox;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section#box article#box1 {
    background:  rgb(192, 216, 231);
}

section#box article#box2 {
    background: white;
}

section#box article#box3 {
    background-color: rgb(232, 232, 232);
}

section#box article#box4 {
    background: white;
}

section#box article#box5 {
    background: rgb(239, 110, 64);
}

section#box article#box6 {
    background: white;
}

footer {
    grid-area: footer;
    background-color: rgb(168, 162, 159);
}